
.red {
  background-color: red;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.green {
  background-color: green;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.default {
  background-color: black;
}

.image {
  background-color: lightgrey;
  box-shadow: 3px 3px black;
  height: 75px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.round {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.round section {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 3px 3px black;
  width: 75px;
  height: 50px;
}